@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlayfairDisplay Bold';
  src: url('../fonts/PlayfairDisplay-Bold.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay Medium';
  src: url('../fonts/PlayfairDisplay-Medium.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay Regular';
  src: url('../fonts/PlayfairDisplay-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Bold';
  src: url('../fonts/Raleway-Bold.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Light';
  src: url('../fonts/Raleway-Light.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Medium';
  src: url('../fonts/Raleway-Medium.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Regular';
  src: url('../fonts/Raleway-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway SemiBold';
  src: url('../fonts/Raleway-SemiBold.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
body{
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
::-webkit-scrollbar{
  display: none;
}
.page-transition {
  opacity: 0;
  background: black;
  transform: translateY(60px);
  filter: blur(12px);
}